/* Everything is up for change. This is just for formatting */
#header {
    position: sticky;
    top: 0;
    background-color: #bc97fd;
    width: 100%;
    z-index: 3;
}

.nav-item {
    background-color: white;
    color: black;
}